
@using SimpleCrm.Web.Controllers
@model HomePageViewModel
@{
    ViewBag.Title = "Customers Page";
}

<h1>Customers</h1>

@foreach (var customer in Model.Customers)
{
    @Html.Partial("_Summary", customer);
}
<br />
<a asp-action="Create">Create a Customer</a>


@section footer {
    <p>@Model.CurrentMessage</p>
}

